<div class="row">

    <table class="table table-hover table-condensed wide-table">
        <thead>
        <tr>
            <th class="col-md-2">Name</th>
            <th class="col-md-1">Short Name</th>
            <th class="col-md-7">Description</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="item in $ctrl.items">
            <th>{{ item['name'] }}</th>
            <td>{{ item['short_name'] }}</td>
            <td>{{ item['description'] }}</td>
        </tr>
        </tbody>
    </table>

</div>